/* Colors 

--color-dark1: #2e323f;
--color-dark2: #3b4050;
--color-dark3: #6f737f;
--color-white: #fff;
--color-web1: #a59678; 
*/

/* Fonts 
font-family: 'Oswald', sans-serif;
font-family: 'Montserrat', sans-serif;

/* 

Fonts
1 | Oswald Bold - font-size: 18px;
2 | Oswald Bold - font-size: 90px;
3 | Montserrat Regular - font-size: 24px;
4 | Oswald Bold - font-size: 24px;
5 | Oswald Bold - font-size: 30px; Monserrat Regular - font-size: 18px
6 | Oswald Bold - font-size: 36px; Monserrat Regular - font-size: 21px
7 | Oswald Bold - font-size: 30px; Monserrat Regular - font-size: 18px
8 | Oswald Bold - font-size: 24px;
9 | Oswald Bold - font-size: 21px; Monserrat Regular - font-size: 16px

*/
/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
  --color-dark1: #2e323f;
  --color-dark2: #3b4050;
  --color-dark3: #6f737f;
  --color-white: #fff;
  --color-lgrey: #e9ecef;
  --color-web1: #a59678;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Oswald", sans-serif;
  line-height: 1.5;
}
.color-web {
  color: var(--color-web1);
}
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.direction {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
  margin: 32px 0;
}
.row {
  display: flex;
  justify-content: space-between;
}
.cta {
  padding: 2px 20px;
  border-radius: 100px;
  background-color: var(--color-web1);
}
.header {
  min-height: 96px;
  background-color: var(--color-dark1);
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 1.125rem;
}
.header__logo {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}
.header__nav-list {
  text-align: center;
  margin-bottom: 30px;
}
.header__nav-list-item {
  list-style-type: none;
  margin: 10px 0;
}
.hero1 {
  padding: 128px 0;
  background-color: var(--color-dark2);
  color: var(--color-white);
}
.hero1__title {
  font-size: 3.75rem;
  line-height: 1.3;
  align-self: flex-start;
  margin-bottom: 48px;
}
.hero1__container__txt {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 32px;
}
.btn {
  display: inline-block;
  font-size: 1.5rem;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 100px;
}

.hero2 {
  background-color: var(--color-lgrey);
}
.hero2__title {
  font-size: 1.875rem;
  color: var(--color-web1);
  margin-bottom: 24px;
}
.hero2__txt {
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
}

.hero3-section1-title {
  font-size: 2.25rem;
  color: var(--color-web1);
}
.hero3-section1-txt {
  font-family: "Montserrat", sans-serif;
  font-size: 1.313rem;
  margin: 32px 0;
}
.hero3-section1-img {
  max-width: 100%;
  height: auto;
}
.hero3-section2 {
  margin-top: 0;
}
.hero3-section2-bloc {
  color: var(--color-white);
  background-color: var(--color-dark2);
  text-align: center;
  padding: 64px;
  margin: 32px 0;
}

.hero3-section2-bloc-title {
  font-size: 1.875rem;
  margin-bottom: 32px;
}
.hero3-section2-bloc-txt {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
}

@media screen and (min-width: 540px) {
  .direction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .col {
    margin: 16px 0;
    text-align: center;
  }
  .header__nav {
    align-content: flex-end;
  }
  .header__nav-list {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  .header__nav-list-item {
    padding: 0 20px;
  }
  .hero1__container {
    display: flex;
    max-width: 50%;
    flex-direction: column;
    margin-left: 32px;
  }
  .hero__title {
    max-width: 40%;
  }
  .hero1__container__txt {
    align-self: flex-end;
  }
  .btn {
    align-self: flex-start;
  }
}

@media screen and (min-width: 600px) {
  .hero3-section2 {
    display: flex;
    flex-direction: row;
  }
  .hero3-section2-bloc {
    padding: 12px;
    margin: 0 8px;
  }
}

@media screen and (min-width: 1100px) {
  .col {
    text-align: start;
  }
  .hero3-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .hero3-section1 {
    margin-right: 64px;
  }
  .hero3-section2 {
    display: flex;
    flex-direction: column;
  }
  .hero3-section2-bloc {
    margin: 12px 0px 12px 64px;
    padding: 24px 36px;
  }
}
